# ðŸ“˜ Pandas Implementation Examples
This notebook covers basic to intermediate concepts of Pandas.

In [10]:
import pandas as pd
import numpy as np

## 1. Creating Series

In [11]:
s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series([100, 200, 300], index=["A", "B", "C"])

print("Series:")
print(s1)
print("\nCustom Index:")
print(s2)

Series:
0    10
1    20
2    30
3    40
dtype: int64

Custom Index:
A    100
B    200
C    300
dtype: int64

## 2. Creating DataFrame

In [12]:
data = {"Name": ["Abeer", "Sehrish", "Umer"],
        "Age": [22, 24, 21],
        "Score": [85, 90, 75]}
df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Abeer   22     85
1  Sehrish   24     90
2     Umer   21     75

## 3. Selection & Indexing

In [13]:
print("Name column:")
print(df["Name"])
print("\nRow 1:")
print(df.loc[1])

Name column:
0      Abeer
1    Sehrish
2       Umer
Name: Name, dtype: object

Row 1:
Name     Sehrish
Age           24
Score         90
Name: 1, dtype: object

## 4. Basic Operations

In [14]:
print("Mean Age:", df["Age"].mean())
print("Max Score:", df["Score"].max())

Mean Age: 22.333333333333332
Max Score: 90

## 5. Filtering Data

In [15]:
filtered = df[df["Score"] > 80]
print(filtered)

      Name  Age  Score
0    Abeer   22     85
1  Sehrish   24     90

## 6. GroupBy & Aggregation

In [16]:
data2 = {"Name": ["Abeer", "Sehrish", "Umer", "Khani"],
         "Dept": ["IT", "Cyber", "IT", "AI"],
         "Age": [22, 24, 21, 24]}
df2 = pd.DataFrame(data2)
print(df2.groupby("Dept")["Age"].mean().reset_index())

    Dept   Age
0     AI  24.0
1  Cyber  24.0
2     IT  21.5

## 7. Merging & Joining

In [17]:
df1 = pd.DataFrame({"ID": [1, 2], "Name": ["Abeer", "Sehrish"], "Dept": ["IT", "HR"]})
df2 = pd.DataFrame({"ID": [1, 2], "Name": ["Abeer", "Sehrish"]})
merged = pd.merge(df1, df2, on="ID")
print(merged)

   ID   Name_x Dept   Name_y
0   1    Abeer   IT    Abeer
1   2  Sehrish   HR  Sehrish

## 8. Reading/Writing CSV

In [18]:
# Saving to CSV
df.to_csv("students.csv", index=False)

# Reading from CSV
df_loaded = pd.read_csv("students.csv")
print(df_loaded)

      Name  Age  Score
0    Abeer   22     85
1  Sehrish   24     90
2     Umer   21     75